body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
}

.controls {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right top, #6a1b9a, #731d9e, #7c1fa2, #8522a6, #8e24aa);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.selectors {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.selector {
  margin-left: 10px;
}

.selector_label {
  color: white;
  margin-bottom: 12px;
}

.year {
  width: 100px;
  margin-top: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.filter, .question {
  width: 170px;
  margin-top: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.logo_container {
  display: flex;
  align-items: center;
}

.gallup_logo {
  width: 120px;
}

.content_container {
  margin: 0px 120px;
}

.svg_container {
  background: #BDBDBD;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 80px;
}

.QuestionText_container {
  width: 100%;
  font-size: 16px;
}

.foot_plotree {
  width: 35px;
  margin-left: 8px;
}

.foot_plotree_contain {
  display: flex;
  align-items: center;
  color: white;
}

.designed_by {
  display: flex;
  background: #8E24AA;
  justify-content: flex-end;
  padding: 10px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

  .s-p__tooltip {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 200px;
    background-color: rgba(69, 90, 100, .8);
    padding: 10px;
    border-radius: 8px;
    font-size: 12px;
    z-index: 100;
    color: white;
    /*box-shadow: 8px 13px 21px -10px rgba(177,179,178,0.65);*/
  }

  .s-p__tooltip-header{
    background-color: rgba(55, 71, 79, 0.7);
    margin: -10px;
    display: flex;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .s-p__tooltip-header h1 {
      font-size: 14px;
      font-weight: 500;
      margin: 5px;
  }

  .s-p__tooltip-header img {
      width: 25px;
      margin: 5px;
  }

  .s-p__tooltip-body p {
      margin: 5px;
      font-size: 12px;
  }

  .sp-data {
    font-weight: 500;
  }
